name: C/C++ CI

on:
  push:
  pull_request:
    branches: [ modelicacc-dev ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Install deps.
      run: | 
        sudo apt-get install autoconf
        sudo apt-get install boost1.71
        sudo apt-get install cmake
        sudo apt-get install doxygen
        sudo apt-get install g++
        sudo apt-get install libginac-dev
        sudo apt-get install make
          
    - name: Autoconf
      working-directory: .
      run: autoconf

    - name: Configure
      working-directory: .
      run: ./configure

    - name: Build
      working-directory: .
      run: make

    - name: Doc
      working-directory: .
      run: make doc

    - name: Tests
      working-directory: .
      run: make test

